.App {
  width: 100vw;
  position: relative;
}

.App > div:first-child{
  position: fixed;
  top: 0;
  left: 0;
}

.app_content{
  display: flex;
  padding-top: var(--navbar-height);
  max-width: calc(100vw);
}

.app_content > div:first-child{
  position: fixed;
  top: var(--navbar-height)
}

.app_content > div:nth-child(2){
  margin-left: var(--sidebar-width);
  max-width: calc(100vw - var(--sidebar-width));
  /* overflow-x: hidden; */
}

@media screen and (max-width: 768px) {
  .app_content > div:nth-child(2){
    margin-left: 0;
    min-width: 100vw;
  }
}