.noteCard{
    border: 1px solid gainsboro;
    border-radius: 1rem;
    padding: 1rem;
    width: 14rem;
    height: fit-content;
}

.noteCard:hover{
    box-shadow: 0 0 5px 0 gainsboro;
}

.noteCard_title{
    padding-bottom: 0.5rem;
}

.noteCard_text{
    color: #374151;
}

.noteCard_bottomRow{
    display: flex;
    justify-content: flex-end;
}

.noteCard_deleteIcon{
    cursor: pointer;
}